.footer
    .container
        .row
            .col-sm-2
            .col-sm-3.center-xs.start-sm
                .footer-inner
                    p
                        strong Main
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) About
                        li
                            a.footer__link( href="#" ) Colofon
                        li
                            a.footer__link( href="#" ) Contact
                        li
                            a.footer__link( href="#" ) Blog
            .col-sm-3.center-xs.start-sm
                .footer-inner
                    p
                        strong Archive
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) Articles
                        li
                            a.footer__link( href="#" ) Videos
            .col-sm-3.center-xs.start-sm
                .footer-inner
                    p
                        strong Browse
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) By collection
                        li
                            a.footer__link( href="#" ) By topic
            .col-md-1
