.overlay-content
    .container
        .row
            .col-md-2
            .col-md-8
                h2 Overlay

            .col-md-2
                a.close( href="#close" title="Close" data-select-results-close="close" )
