extends layout/page

prepend variables
    - bodyClass = 'home'

append main

    .container
        .row
            .col-md-2
                
            .col-md-8
                h2.title 
                    a( href="#" ) Title of this page
                p.intro Some intro for text sake.
                a.read-more( href="#" ) Read
            .col-md-2

