extends layout/page

prepend variables
    - bodyClass = 'home'

append main

    .container.recipe
        .row
            .col-md-2
                
            .col-md-8
                h2.recipe-title Cauliflower Curry

                p.recipe-intro Prep: 15 min. | Cook: 20 min.

                h3.recipe-smalltitle What you need
                .row.recipe-list
                    .col-sm-6
                        ul
                            li 1 cauliflower
                            li 2 (red) unions
                            li 2 or 3 cloves of garlic
                            li 100 g red lentils
                            li 6 dl veg. broth (bouillon)
                    .col-sm-6
                        ul    
                            li 2 teaspoons curry 
                            li 1 teaspoon turmeric (kurkuma) 
                            li 1 teaspoon cumin (djinten)
                            li greek yoghurt
                            li mint leaves
                            li koriander leaves

                h3.recipe-smalltitle How to make it
                ol.recipe-steps
                    li 
                        .recipe-stepnumber 1
                        | Chop the onion and garlic cloves. Fruit them in oil. Divide the cauliflower into small florets crops. Heat the broth in a separate pot.
                    li 
                        .recipe-stepnumber 2
                        | Add the broth to the onions and garlic with the cumin, curry, turmeric and bring to the boil. Add the lentils. Simmer for 15 minutes, stirring occasionally.
                    li 
                        .recipe-stepnumber 3
                        | Add the cauliflower to the curry and cook gently for ca. 6 minutes until they are al dente.

                    li 
                        .recipe-stepnumber 4
                        | Meanwhile, make raita of finely chopped red onion - some into half rings - and stir in the yogurt with lemon and mint. Season to taste with salt and pepper.

                    li
                        .recipe-stepnumber 5
                        | Garnish the cauliflower curry with coriander. Add the raita seperately.


                p.recipe-tip 
                    strong Tip: 
                    | Serve with naan bread or pappadums.


            .col-md-2
